[submodule "submodules/cwtools"]
	path = submodules/cwtools
	url = https://github.com/Aa728848/cwtools.git
[submodule "submodules/cwtools-stellaris-config"]
	path = submodules/cwtools-stellaris-config
	url = https://github.com/Aa728848/cwtools-stellaris-config
[submodule "submodules/cwtools-mcp"]
	path = submodules/cwtools-mcp
	url = https://github.com/Aa728848/cwtools-mcp.git
