[submodule "submodules/cwtools"]
	path = submodules/cwtools
	url = https://gitee.com/cChen2422/cwtools.git
[submodule "submodules/cwtools-stellaris-config"]
	path = submodules/cwtools-stellaris-config
	url = https://gitee.com/cChen2422/cwtools-stellaris-config.git
